<header id="cabecalho">
    <nav class="cabeConteudo">
        <div class="nave">
            <a href="/">TAREFAS</a>
        </div>
        <div class="nave">
            <a href="/criar">CRIAR TAREFA</a>
        </div>
    </nav>
</header>