<header id="cabecalho">
    <nav class="cabeConteudo">
        <div class="nave">
            <h3>TAREFAS</h3>
        </div>
        <div class="nave">
            <h3>CRIAR TAREFA</h3>
        </div>
    </nav>
</header>